/* This specifices the font-family and font-size for the body of the webpage. */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* This sets the styling for the text area where the user will type their agenda into the calendar. */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

/* This is another class used to style the text area the user will type into. */
.description {
  white-space: pre-wrap;
}

/* This rounds the border of the time-block class. */
.time-block {
  border-radius: 15px;
}

/* This sets the top border for each row of the webpage. */
.row {
  border-top: 1px solid white;
}

/* This styles the hour portion of the row and sets the color of the text. */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* This assigns a gray color to any time-blocks that have already occurred. */
.past {
  background-color: #d3d3d3;
  color: white;
}

/* This assigns a red color to the current time-block. */
.present {
  background-color: #ff6961;
  color: white;
}

/* This assigns a green color to any of the time-blocks that haven't happened yet */
.future {
  background-color: #77dd77;
  color: white;
}

/* This specifices the styling for the save button, inlcuding the color and shape. */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

/* This changes the color of the save icon when I hover over the save button to save the message to local storage. */
.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/* This moves all of the items in the header element to be centered in the webpage. */
header {
  text-align: center;
  border-bottom: 10px solid black;
}